Practicing on how to define and use Functions in python

In [22]:
def fun():
    print("hello")
fun()

hello

In [23]:
def fun1(n):
    for i in range(n):
        print('h')
fun1(6)

h
h
h
h
h
h

In [24]:
def prime(n):
    f=0
    x=n//2
    if n<=1:
        print("Enter a valid number")
    elif n==2 or n==3:
        print("Prime")
    else:
        for i in range(5,x):
            if n%i==0:
                f=1
                break
            else:
                f=0
    if f==0:
        print("number is prime")
    else:
        print("number is not prime")

prime(108)

number is not prime

Default argument

In [25]:
def default1(x,y=7):
    print(x,y)
default1(1)

1 7

Keyword argument

In [26]:
def keyword1(name,age):
    print(name, age)
keyword1(age=21 ,name="sachit")
keyword1(name="sachit",age=21 )

sachit 21
sachit 21

Positional argument

In [27]:
def Pos1(Name,Batting_order):
    print(Name,Batting_order)
Pos1("Rohit",1)
Pos1(2,'Shubhman')

Rohit 1
2 Shubhman

Arbitary Keyword

1. *args

In [28]:
def ar(*argsv):
    for i in argsv:
        print(i)

ar("Hello","my","name","is","Sam")

Hello
my
name
is
Sam

2. **kwargs

In [29]:
def kar(**kwargs):
    for k,val in kwargs.items():
        print(k,val)
kar(c="my",b="name",a="is")

c my
b name
a is

Mix of both *args and **kwargs

In [30]:
def akr(*abc,**kwargs):
        print("args: ",abc)
        print("kwargs: ",kwargs)
        print(type(abc))
        print(type(kwargs))
        
# *args and **kwargs directly stores their respected values in them 
akr("heyyyyyyy","helo",a=1,b=3)

args:  ('heyyyyyyy', 'helo')
kwargs:  {'a': 1, 'b': 3}
<class 'tuple'>
<class 'dict'>

LAMBDA Function

In [1]:
strl="Hello my name is sam"
s2= lambda func: func.upper()

print(s2(strl))

HELLO MY NAME IS SAM

get the sign of numbr

In [32]:
n= lambda x: "Positive" if x>0 else "Negative" if x<0 else "Zero"
n(-0)

'Zero'

Number is even or odd

In [33]:
x= lambda n: "even" if n%2==0 else "odd"
print(x(9))

odd

Lambda with filter()

Filter with a normal function

#Filter can only be used to check when we have to print something based on condition

In [2]:
def even(n):
    return n%2==0

a=[1,3,34,52,4]
b=filter(even,a)
print(list(b))

[34, 52, 4]

Filter with lambda

In [35]:
x=list(filter(lambda x: x%2==0,a))
print(x,a)

[34, 52, 4] [1, 3, 34, 52, 4]

In [36]:
x=list(filter(lambda x: x>18,a))
print(x)

[34, 52]

In [37]:
x=list(filter(lambda x: x**2,a))
print(x)                        # for this filter can't be used as there is no condition

[1, 3, 34, 52, 4]

In [3]:
def check_prime(n):
    half=int(n**0.5)
    f=0
    for i in range(2,half+1):
        if n%i == 0:
            f=0
            break
        else:
            f=1
    
    if f==1:
        return n
 
input_list = list(map(int,input().split()))
print(input_list)
  
result = filter(check_prime,input_list)
print(list(result))

[1, 2, 3, 4, 5, 67788, 54]
[5]

Lamdba with map()

Map() with normal function

In [51]:
def square(n):
    return n*n
                # It maps the values that are changed in the function to its corresponding indices in new list based on the original list passed in the function
                # Like (1*1) is mapped at first index as 1 is on the first index
s=[1,2,3,4,5,4,4]
x=list(map(square,s))
print(x)

[1, 4, 9, 16, 25, 16, 16]

Map with labda

In [39]:
x=list(map(lambda x: x*2,s))
print(x,s)

[2, 4, 6, 8, 10] [1, 2, 3, 4, 5]

In [40]:
x=list(map(lambda x: x**2,s))
print(x)

[1, 4, 9, 16, 25]

In [ ]:
a=[9,8,7,6,5,4]
x=map(lambda x,y: x+y , a,s)
print(list(x))          #when passing two iterables with map both should have equal values,if that's not the case then map will not map the extra value that is not in the other.

[10, 10, 10, 10, 10, 8]

In [4]:
c=[-40,32,30,1]
d={}
f=list(map(lambda x: (x*9/5)+32,c))

for i in range(len(c)) :
    d[c[i]]=f[i]
d

{-40: -40.0, 32: 89.6, 30: 86.0, 1: 33.8}

Yield with normal function

In [ ]:
def myFunc():
  yield "Hello"
  yield 51
  yield "Good Bye"
                    # Yield doesn't stop execution ,but return does stops
x = myFunc()
# print(x)
for z in x: 
  print(z)

Hello
51
Good Bye

In [115]:
def y_even(n):
    for i in range(n):
        yield i
        # print(i)
        # return i

for i in y_even(10):
    x=input()
    # if x=="Y" or "y":
    if i%2==0:
        print(i)

0
2
4
6
8

Yield with boolean

In [1]:
def func(text,key):
    w=text.split()
    for n in w:
        if n==key:
            yield True

txt="S a m"
s=func(txt,'a')
print(sum(s))

1

Reduce() function

In [152]:
from functools import reduce
def r(x,y):
    return x+y

s=(1,2,3,4,5)
a=reduce(r,s)
print(a)

15

In [ ]:
x=reduce(lambda x,y: x+y,s)
print(x)

15

In [154]:
x=reduce(lambda x,y: x*y,s)         #Same as accumulate but only difference is that it will one value that will be the final value,but accumulate will give intermmediate values or it giver values as it traverses through the list
print(x)

120

Accumalte() Function

In [168]:
import itertools
import operator
s=(6,4,8,3)
print(list(itertools.accumulate(s)))            # It also prints the intermediate values in form of list when iterating over the list

[6, 10, 18, 21]

In [175]:
x=itertools.accumulate(s,operator.mul)
print(list(x))

[6, 24, 192, 576]

In [157]:
x=itertools.accumulate(s,min)
print(list(x))

[6, 4, 4, 3, 0]

In [137]:
x=itertools.accumulate(s,lambda x,y:x+y)
print(list(x))

[6, 10, 18, 21, 21]

In [ ]:
x=itertools.accumulate(s,lambda x,y:x*y)
print(list(x))       #accumalate can only work when operations are performed on the 2 items of the list,and will not work for one

[6, 24, 192, 576, 0]