Exercise 1: Print first 10 natural numbers using while loop

In [48]:
i=1
while i<=10:
    print(i,end=" ")
    i+=1

1 2 3 4 5 6 7 8 9 10

Excersice 2: Print the patterns

In [49]:
for i in range(1,6):
    for j in range(1,i+1):
        print(j,end=" ")
    print()

1
1 2
1 2 3
1 2 3 4
1 2 3 4 5

Exercise 3: Calculate sum of all numbers from 1 to a given number

In [50]:
n=int(input("enter n:"))
sum=0
for i in range(n+1):
    sum+=i
print(sum)

10

Exercise 4: Print multiplication table of a given number

In [51]:
n=int(input("enter number:"))
for i in range(1,11):
    print(n,"*",i,"=",n*i)

1 * 1 = 1
1 * 2 = 2
1 * 3 = 3
1 * 4 = 4
1 * 5 = 5
1 * 6 = 6
1 * 7 = 7
1 * 8 = 8
1 * 9 = 9
1 * 10 = 10

Exercise 5: Display numbers from a list using a loop

In [52]:
i=0
lst=[1,2,3,4]
while i in range(len(lst)):
    print(lst[i],end=" ")
    i+=1

1 2 3 4

In [53]:
lst=[1,2,34]
for i in lst:
    print(i,end=" ")

1 2 34

Exercise 6: Count the total number of digits in a number

In [55]:
a=122345
aws=str(a)
ctr=0
for i in aws:
    ctr+=1
print(ctr)

TypeError: 'str' object is not callable

In [ ]:
a=122345
ctr=0
while a!=0:
    a=a//10
    ctr+=1
print(ctr)

6

Exercise 7: Print the following pattern

In [ ]:
for i in range(5,0,-1):
    for j in range(i,0,-1):
        print(j,end=" ")
    print()

5 4 3 2 1
4 3 2 1
3 2 1
2 1
1

Exercise 8: Print list in reverse order using a loop

In [ ]:
for i in range(len(lst),0,-1):
    print(i,end=" ")

3 2 1

Exercise 9: Display numbers from -10 to -1 using for loop

In [ ]:
for i in range(-10,0):
    print(i,end=" ")

-10 -9 -8 -7 -6 -5 -4 -3 -2 -1

Exercise 10: Display a message “Done” after the successful execution of the for loop

In [ ]:
for i in range(5):
    print(i,end=" ")
print("Done!!")

0 1 2 3 4 Done!!

In [ ]:
n=int(input("enter start:"))
m=int(input("enter end:"))
set1=set()
f=0
print("Prime numbers between",n,"and",m,"are:")
for i in range(n,m+1):
    if i<=1:
        continue
    elif i==2 or i==3:
        set1.add(i)
    else:
        x=i//2
        for a in range(2,i):
            if i%a==0:
                break
        else:
            set1.add(i)
print(set1)

Prime numbers between 25 and 50 are:
{37, 41, 43, 47, 29, 31}

In [ ]:
import string
s= string.ascii_lowercase
s1 = "abccdefghijklmnopqrstuvwxyz123456"
s2 = set((s1))
s3 = ""
for x in s2:
    if x.isalpha():
        s3+=x
if len(s3)==26:
    print('yes its a pangram')
else:
    print("no")

['1', '2', '3', '4', '5', '6', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']
yes its a pangram

In [ ]:
t = "abccdefghijklmnopqrstuvwxy12345"
t1 = set(t)
print(t1)
 
ctr = 0
for x in t1:
    if x.isalpha():
        ctr+=1
   
if ctr == 25:
    print("pangram")
 
else:
    print("no")

{'q', '4', 'c', 'e', 'i', 'f', 'v', '3', 'm', 'x', 'p', 'j', 'a', '2', 'y', 'd', 'w', 'g', '1', 'u', 'b', 'o', 't', 'h', 'k', 'n', 's', 'r', '5', 'l'}
pangram

In [ ]:
s1 = "abccdefghijklmnopqrstuvwxyz123456"
str1=s1.lower()
set2=set()
for i in str1:
    if i.isalpha()==True:
        set2.add(i)

if len(set2)==26:
    print("Pangram")
else:
    print("non pangram")

Pangram

In [ ]:
def fun():
    # global x
    x = "outer"
    # print(x , "of line 5")
    # return
 
 
    def infun():
        # global x
        nonlocal x
        x = "inner"
        print(x , "of line 27")
        # return
    print(infun())
    print(x , "of line 15,5")    
      
print(fun())

inner of line 27
None
inner of line 15,5
None

Exercise 13: Find the factorial of a given number

In [ ]:
n=int(input("entr a number:"))
fact=1
for i in range(n,0,-1):
    fact=fact*i
print(fact)

24

Exercise 14: Reverse a integer number

In [ ]:
n=12345999999999876543234567890

b=0
while n>0:
    a=n%10
    b=(b*10)+a
    n=n//10
print(b)

9876543234567899999999954321

Exercise 15: Print elements from a given list present at odd index positions

In [ ]:
lst = [10, 20, 30, 40, 50, 60, 70, 80, 90, 100]

In [ ]:
for i in range(len(lst)):
    if i%2!=0:
        print(lst[i],end=" ")

20 40 60 80 100

Exercise 16: Calculate the cube of all numbers from 1 to a given number

In [ ]:
n=int(input("enter n"))
for i in range(1,n+1):
    print(i**3,end=" ")

1 8 27 64 125 216 343

17. Alphabetically arrange the string wth using sort function

In [ ]:
str17="mukund"
lst=[]
str1=""
for i in str17:
    lst.append(i)
print(lst)
for i in range(0,len(lst)):
    for j in range(i+1,len(lst)):
        if lst[i]>=lst[j]:
            lst[i],lst[j]=lst[j],lst[i]
print(lst)

for i in lst:
    str1=str1+i
print(str1)

['m', 'u', 'k', 'u', 'n', 'd']
['d', 'k', 'm', 'n', 'u', 'u']
dkmnuu

18. Get the first item, the middle item and the last item of the list

In [ ]:
lst=[1,2,3,"sam","sum"]
n=len(lst)//2
print(lst[0],lst[n],lst[-1])

1 3 sum

19. Remove the duplicates from a string with using set

In [ ]:
str19="hello my name is "
print(str19)
str1=""
for i in range(len(str19)):
    if i !=" ":
        x= str19.find(str19[i],i+1,len(str19))
    if x== -1:
        str1=str1+""+str19[i]
print(str1)

hello my name is
hloynameis

In [ ]:
str2=""
for i in str19:
    if i !=" ":
        if i not in str2:
            str2+=i
    else:
        str2+=i
print(str2)

helo my na is

In [ ]:
# a=153
# ctr=0
# na,nb=a,a
# n1=0
# while na > 0:
#     ctr+=1
#     na=na//10
# print(ctr)

# while a>0:
#     b=nb%10
#     n1=n1 + (b**ctr)
#     nb=nb//10
# print(n1)

# if n1==a:
#     print("Armstrong")
# else:
#     print("non armstrong")

In [ ]:
# number = 153

# # initialize required variable
# sum = 0
# temp = number
# n = len(str(number))

# while temp > 0:
#   val = temp % 10
#   sum += val ** n
#   temp //= 10

# print("Number is: ", number)
# print("Sum is: ", sum)

# if number == sum:
#   print("{} is an Armstrong number".format(number))
# else:
#   print("{} is not an Armstrong number".format(number))

In [59]:
test_list = [{4, 5, 6, 1}, {6, 4, 1, 5}, {1, 3, 4, 3}, 
			{1, 4, 3}, {7, 8, 9}]
# printing original list
print("The original list is : " ,test_list)
# creating an empty set to store the result
result = set()
# nested for loop to compare sets
for i in range(len(test_list)):
	for j in range(i+1, len(test_list)):
		if test_list[i] != test_list[j]:
			result.add(frozenset(test_list[i]))
# printing result
print("Duplicate sets list : " ,list(result))
unique_set=set(frozenset(i) for i in test_list )
print(unique_set)

The original list is :  [{1, 4, 5, 6}, {1, 4, 5, 6}, {1, 3, 4}, {1, 3, 4}, {8, 9, 7}]
Duplicate sets list :  [frozenset({1, 4, 5, 6}), frozenset({1, 3, 4})]
{frozenset({1, 4, 5, 6}), frozenset({1, 3, 4}), frozenset({8, 9, 7})}

In [ ]:
test_list = [{4, 5, 6, 1}, {6, 4, 1, 5}, {1, 3, 4, 3}, {1, 4, 3}, {7, 8, 9}]
print(test_list)
set1=set()
res_list=[]
for i in range(len(test_list)):
    for j in range(i+1,len(test_list)):
        if test_list[i]==test_list[j]:
            test_list.remove(test_list[i])
            test_list.remove(test_list[j])
test_list

[{1, 4, 5, 6}, {1, 4, 5, 6}, {1, 3, 4}, {1, 3, 4}, {8, 9, 7}]

IndexError: list index out of range