1. Create a List of Squares of numbers from 1 to 10

In [ ]:
x1=[i*i for i in range(1,11)]
print(x1)

[1, 4, 9, 16, 25, 36, 49, 64, 81, 100]

2.  Create a List of Even numbers from 1 to 20

In [ ]:
x2=[i for i in range(1,21) if i%2==0]
print(x2)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20]

3. Generate a list of characters from a string

In [7]:
str3="hello my name is sam"
x3=[i for i in str3 if i!=" "] 
print(x3)

['h', 'e', 'l', 'l', 'o', 'm', 'y', 'n', 'a', 'm', 'e', 'i', 's', 's', 'a', 'm']

4.  Create a list of lengths of words in a sentence

In [15]:
x4=[len(i) for i in str3.split()]
print(x4)

[5, 2, 4, 2, 3]

5. Generate a list of tuples containing a number and its square

In [ ]:
x5=[(i,i*i)for i in range(1,6)]
print(x5)

[(1, 1), (2, 4), (3, 9), (4, 16), (5, 25)]

6. Create a list of lowercase letters

In [22]:
x6=[chr(i) for i in range(ord('a'),ord('z')+1)]
print(x6)

['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

7. Create a list of uppercase letters

In [23]:
x7=[chr(i) for i in range(ord("A"),ord("Z")+1)]
print(x7)

['A', 'B', 'C', 'D', 'E', 'F', 'G', 'H', 'I', 'J', 'K', 'L', 'M', 'N', 'O', 'P', 'Q', 'R', 'S', 'T', 'U', 'V', 'W', 'X', 'Y', 'Z']

8. Create a list of even numbers squared and odd numbers cubed from 1 to 10

In [26]:
x8=[i**2 if i%2==0 else i**3 for i in range(1,11)]
print(x8)

[1, 4, 27, 16, 125, 36, 343, 64, 729, 100]

9.  Generate a list of common multiples of 3 and 5 up to 100

In [27]:
x9=[i for i in range(1,101) if i%3==0 and i%5==0]
print(x9)

[15, 30, 45, 60, 75, 90]

10. Create a list of reversed strings from another list

In [32]:
x10=[i for i in str3[::-1].split()]
print(x10[::-1])

['olleh', 'ym', 'eman', 'si', 'mas']

11.  Generate a list of prime numbers from 1 to 50

In [42]:
list1=[]
for i in range(1,51):
    list1.append(i)
    for n in range(i//2):
        x11=filter(lambda i:i%1==0 and i%i==0 and i%n==0 ,list1)
print(list(x11))

[24, 48]

In [ ]:
x11=[x for x in range(1,51) for y in range(3,x//2) if x%y!=0 and x%2!=0 ]
print(set(x11))

{11, 13, 15, 17, 19, 21, 23, 25, 27, 29, 31, 33, 35, 37, 39, 41, 43, 45, 47, 49}

In [102]:
def is_prime(n):
    x=n//2
    f=0
    if n<=1:
        pass
    elif n==2 :
        return 2
    elif n==3:
        return 3
    elif n==4:
        pass
    else:
        for i in range(2,x):
            if n%i==0:
                f=1
                break
        if f==0:
            return True
        else:
            return False

x11=[x for x in range(2,500) if is_prime(x)]
print(x11)

[2, 3, 5, 7, 11, 13, 17, 19, 23, 29, 31, 37, 41, 43, 47, 53, 59, 61, 67, 71, 73, 79, 83, 89, 97, 101, 103, 107, 109, 113, 127, 131, 137, 139, 149, 151, 157, 163, 167, 173, 179, 181, 191, 193, 197, 199, 211, 223, 227, 229, 233, 239, 241, 251, 257, 263, 269, 271, 277, 281, 283, 293, 307, 311, 313, 317, 331, 337, 347, 349, 353, 359, 367, 373, 379, 383, 389, 397, 401, 409, 419, 421, 431, 433, 439, 443, 449, 457, 461, 463, 467, 479, 487, 491, 499]

12. Create a list of squares of even numbers and cubes of odd numbers from -5 to 5

In [103]:
x12=[i**2 if i%2==0 else i**3 for i in range(-5,6)]
print(x12)

[-125, 16, -27, 4, -1, 0, 1, 4, 27, 16, 125]

13. Generate a list of strings with their lengths from another list

In [116]:
str13=["apple","banana","cherry"]
x13=[(x,len(x)) for x in str13]
print(x13)

[('apple', 5), ('banana', 6), ('cherry', 6)]

14. Count the white spaces in the str

In [ ]:
str14="hello my name is sam"
x14=[x for x in str14 if x==" "]
print(len(x14),x14)

4 [' ', ' ', ' ', ' ']

15. Create a list of first characters from a list of words

In [119]:
x15=[i[0] for i in str13]
print(x15)

['a', 'b', 'c']