1. Find the max of three numbers

In [18]:
def Max_Of_Three(a,b,c):
    print("The Biggest number between ",a,b,c," is ",max(a,b,c))

a=int(input("enter a: " ))
b=int(input("enter b: " ))
c=int(input("enter c: " ))
Max_Of_Three(a,b,c)

The Biggest number between  12 32 3  is  32

2. Sum of all numbers in a list

In [19]:
def ListSum(lst):
    sum=0
    for i in lst:
        sum+=i
    print("Sum of the list",lst,"is",sum)

a2=[212,3,43,453]
ListSum(a2)

Sum of the list [212, 3, 43, 453] is 711

3. Write a function to take integers as input and give list containing these numbers as output

In [ ]:
# This code is First Taking the elements and putting them in a list then calling the ListSum function to calculate the sum of elements of the list
def Convert_Int_To_List(n):
    lst=[]
    for i in range(n):
        a=int(input("enter the element for list : "))
        lst.append(a)
    return lst

n=int(input("enter an element for the list:"))
lst1= Convert_Int_To_List(n)
ListSum(lst1)       #This uses the Function that sums the values of list

Sum of the list [1, 2, 43, 54, 1] is 101

4. Multiply all elements in a list

In [30]:
def List_Multiply(lst):
    multiply=1
    for i in lst:
        multiply*=i
    print("Product of all elements is:",multiply)
ls=[1,43,6,-4]
List_Multiply(ls)

Product of all elements is: -1032

5. Reverse a string

In [41]:
def Reverse_strimg(str):
    str1=str[::-1]
    print(str1)
a="Hello My name is Sam"
Reverse_strimg(a)

maS si eman yM olleH

6. Factorial of a number

In [33]:
def Fact(n):
    Factorial=1
    if n==0 or n==1:
        return 1
    else:
        for i in range(n):
            Factorial=n*Fact(n-1)
    return Factorial

X=Fact(5)
print(X)

120

7. Check whether a number is in between a given range

In [8]:
def In_Range(start,end,element):
    if element in range(start,end):
        print("element found")
    else:
        print("element not found")

In_Range(start=10,element=80,end=100)

element found

8. Count Uppercase and Lowercase Letters in a String

In [43]:
def Count_Upper_Lower(str):
    Uctr=0
    Lctr=0
    for i in str:
        if i!=" ":
            if i.isupper()==True:
                Uctr+=1
            else: 
                Lctr+=1
    print("Upper Case letters are:",Uctr)
    print("Lower Case letters are:",Lctr)

Count_Upper_Lower(a)

Upper Case letters are: 3
Lower Case letters are: 13

9. Check Whether a Number is Prime

In [7]:
def Is_Prime(n):
    x=n//2
    f=0
    if n<=1:
        print("enter a valid number")
    elif n==2 or n==3:
        print("Prime")
    elif n==4:
        print("Non Prime")
    else:
        for i in range(2,x):
            if n%i==0:
                f=1
                break
        if f==0:
            print("Prime")
        else:
            print("Non Prime")

Is_Prime(7)

Prime

10. To check whether all elements in an string are of same datatype or not

In [85]:
def Is_Same_DataType(lst):
    set10=set()
    for i in lst:
        set10.add(type(i))
    if len(set10)>1:
        print("False")
    else:
        print("True")
lst=["Yess is a 2","Ji humne batting me momentum unhe dediya","bowling me unhone momentum  humse leliya"]
Is_Same_DataType(lst)

True

In [ ]:
b=len(set(type(x) for x in lst))==1     # in this it is storing the type of x in a set and then checking the length ,if length is more than 1 it will return false ,otherwise it will return true
b

False

In [ ]:
def Is_Same_DataType(lst):
    set10=set()
    for i in lst:
        set10.add(type(i))
        if len(set10)>1:
            res = False
            break
        else:
            res = True
    return res,i
lst=["Yess is a 2","Ji humne batting me momentum unhe dediya",21,"bowling me unhone momentum  humse leliya"]
Is_Same_DataType(lst)

True

\R Usage

In [ ]:
str="he\nllo\r"
print(str)
str1="LLO"      #whenever \r is in a string it moves the cursor to the beginning of the same line it is alreay on
print(str,str1)

he
llo
he
 LLO

In [134]:
for k in range(10,1,-1):
    for i in range(1,k//2):
        for j in range(i):
            print(k,end="")
    print()

10101010101010101010
999999
888888
777
666
5
4

12. Print element at 0 index

In [147]:
s="coding for all"
x=s.split()
print(x[0])

coding

13. Check if a Number is Perfect

In [155]:
def Perfect_Num(n):
    sum=0
    for i in range(1,n//2+1):
        if n%i==0:
            sum+=i
    if sum==n:
        print("Perfect number")
    else:
        print("Not perfect number")


Perfect_Num(496)

Perfect number

Lambda Function

1. Function to add two numbers

In [ ]:
x= lambda n,m: print(n+m)
x(4,5)

9

In [168]:
x=[lambda arg=n: arg*n for n in range(1,5)]
for i in x:
    print(i())

4
8
12
16

14. adding "ing" at the end if str >3 and if str ends with "ing" add "ly" at the end

In [5]:
def Addin(str):
    if len(str)<3:
        return str
    else:
        if str.endswith("ing"):
            x=str+"ly"
        else:
            x=str+"ing"
    
    return x 

s=Addin("saing")
print(s)

saingly

15. Replace the words in string if not is followed by poor ,replace it with good else return the string as it is

In [24]:
def rep(str):
    if 'not' not in str:
        return str
    else: 
        i=str.index("not")
        x= str.find('poor',i,len(str))
        if x!=-1:
            str=str.replace(str[i:x+4],"good")
    return str
str="the lyrics is not poor"
rep(str)

'the lyrics is good'

16. Use map to create a new list by changing each country to uppercase in the countries list

In [8]:
lst16=['india','england','lithuania',"bosnia and herzagovina","serbia","canada","mexico"]

In [9]:
def upper_case(n):
    return n.upper()
ulst16=list(map(upper_case,lst16))
print(ulst16)

['INDIA', 'ENGLAND', 'LITHUANIA', 'BOSNIA AND HERZAGOVINA', 'SERBIA', 'CANADA', 'MEXICO']

17. Use filter to filter out countries containing 'stan'.

In [7]:
lst17=["afghanistan","tajikistan","turkmenistan","azerbaijan","armenia","georgia"]

f17=list(filter(lambda x:x.endswith("stan"),lst17))
f17

['afghanistan', 'tajikistan', 'turkmenistan']

18. Use filter to filter out countries having exactly six characters.

In [10]:
f18=list(filter(lambda x: len(x)==6,lst16))
f18

['serbia', 'canada', 'mexico']

19. Use filter to filter out countries starting with an 'e'

In [13]:
f19=list(filter(lambda x: x.startswith("e"),lst16))
f19

['england']

20. Declare a function called get_string_lists which takes a list as a parameter and then returns a list containing only string items.

In [17]:
def is_string(lst):
    lst1=[]
    for i in lst:
        # print(type(i))
        if type(i) ==str :
            lst1.append(i)
    return lst1

x=[2132,'sachit',68657,"nehal"]
v20=is_string(x)
v20

['sachit', 'nehal']

In [20]:
is_string=list(filter(lambda x:  type(x)==str,x))
is_string

['sachit', 'nehal']

21. Use reduce to concatenate all the countries and to produce a sentence like this: Estonia, Finland, Sweden, Denmark, Norway, and Iceland are north European countries

In [2]:
from functools import reduce

In [3]:
lst16=['india','england','lithuania',"bosnia and herzagovina","serbia","canada","mexico"]
lst16=list(map(lambda x: x.capitalize(),lst16))
f21=reduce(lambda x,y: x+', ' + y,lst16)
f22= f21 + " are countries in the world."
f22

'India, England, Lithuania, Bosnia and herzagovina, Serbia, Canada, Mexico are countries in the world.'