1. Length of a string

In [44]:
str1="hello my name is sachit"
print(type(str1))
len(str1)

<class 'str'>

23

2. Count character frequency in a string.

In [45]:
d={}
lstr=list(str1)
for i in range(len(lstr)):
    d[lstr[i]]=lstr.count(lstr[i])
print(d)

{'h': 2, 'e': 2, 'l': 2, 'o': 1, ' ': 4, 'm': 2, 'y': 1, 'n': 1, 'a': 2, 'i': 2, 's': 2, 'c': 1, 't': 1}

3. Slicing

In [46]:
s='abcbadf'

In [47]:
s[:1:-1]

'fdabc'

In [48]:
s="1234567890987654321"

4. Get string of first and last 2 chars.

In [49]:
str3=str1[:2]+str1[len(str1)-2:]
if len(str3)<4:
    print('NOT VALID INPUT')
else:
    print(str3)

heit

5. Replace first char occurrences with $. apart from the first

In [50]:
a=str1[:1]
b=str1[1:]
c=b.maketrans(a,'$')
d=b.translate(c)
str1=a+d
str1

'hello my name is sac$it'

6. Swap first 2 chars of 2 strings

In [51]:
ls=["abc","xyz"]
ls1=ls[0][:2]
ls2=ls[1][:2]
print(ls1)
ls[1]=ls[1].replace(ls2,ls1)
ls[0]=ls[0].replace(ls1,ls2)
ls

ab

['xyc', 'abz']

7. Add ing or ly to a string.

In [52]:
s1="str"
f=0
if len(s1)>=3:
    if s1.endswith("ing"):
        s2=s1+"ly"
        f=1
    else:
        s2=s1+"ing"
        f=1
if f==1:
    print(s2)
else:
    print(s1)

string

8. Find longest word in a list.

In [53]:
str=" Python Exercise for Beginner : Practice makes perfect in everything , and this is especially true when learning Python. If you're a beginner, regularly practicing Python exercises will build your confidence and sharpen your skills. To help you improve, try these Python exercises with solutions to test your knowledge. You might have seen various Python tutorials that explain the concepts in detail but that might not be enough to get hold of this language. The best way to learn is by practicing it more and more."

In [54]:
lst=str.split(' ')
# print(lst)
# print(max(lst))
re=""
for i in lst:
    if len(i)>len(re):
        re= i

print(re,len(re))

everything 10

9. Check whether the given string is palindrome or symmetrical

In [55]:
q9="amaama"
n=len(q9)//2
if len(q9)%2 ==0:
    if q9[:n]==q9[n:]:
        print("String is symmetrical")
    else:
        print("string is palindrome")
else:
    if q9[:n+1]==q9[n+1:]:
        print("String is symmetrical")
    else:
        print("string is palindrome")

String is symmetrical

10. Find the length of string

In [56]:
Q10="Hello my name is Sachit ."
# print(len(Q10))
ctr=0
for i in Q10:
    if i==" ":
        Q10.split()
        ctr+=1
print("Number of words: ",ctr)

Number of words:  5

11. Reverse words in a given String

In [57]:
L10=Q10.split()
L10.reverse()
print(L10)
Q10=" ".join(L10)
print(Q10)

['.', 'Sachit', 'is', 'name', 'my', 'Hello']
. Sachit is name my Hello

12. Find the Length of string but don't count the white spaces

In [58]:
x=len(Q10)
for i in Q10:
    if i==" ":
        x-=1
print(x)

20

13. Remove the i'th character from the string

In [59]:
Q10

'. Sachit is name my Hello'

In [60]:
i=int(input("enter the element you want to be delete"))
q13=Q10[:i] + Q10[i+1:]
print(q13)

. Schit is name my Hello

14. Print even length words in a string

In [61]:
ls14=Q10.split()
q14=" "
for i in ls14:
    if len(i)%2==0:
        q14=q14+ " "+i
print(q14)

  Sachit is name my

15. Uppercase Half String

In [62]:
Q1="hey u a datatype"
Q1.split()
n=len(Q1)//2
Q15=Q1[:n].upper() + Q1[n:].lower()
print(Q15)          #

HEY U A datatype

In [63]:
Q1="hey u a data type "
Q15=" "
q1=Q1.split()
n=len(q1)//2
for i in range(len(q1)):
    if i<n:
        q2= q1[i].upper()
        Q15=Q15+" " +q2
    else:
        q2= q1[i].lower()
        Q15=Q15 + " " +q2
print(Q15)

  HEY U a data type

16. Capitalize the first and last character of each word in a string

In [64]:
l16=Q1.split()
for i in range(len(l16)):
    if len(l16[i])>1:
        l16[i]=(l16[i][0].upper()) + (l16[i][1:len(l16[i])-1]) + (l16[i][-1].upper())
    else: 
        l16[i]=(l16[i][0].upper()) + (l16[i][1:len(l16[i])-1])
        # l16[i]= l16[i].capitalize()
Q1=" ".join(l16)
print(Q1)

HeY U A DatA TypE

17. Count of a string

In [65]:
s="erk"
l=s.count('')   #finds an empty string in a string
print(l)        #there is an empty string just before and after a char in a string

4

18. Check if a string has at least one letter and one number

In [66]:
s18="abcdeiouoss"
s18.isalnum()

True

19. Accept the strings which contains all vowels

In [67]:
lst=["a",'e','i','o','u']
d=set()

In [68]:
for i in lst:
    x=int(s18.count(i))
    d.add(x)
d

{1, 2}

In [69]:
if 0 in d:
    print("not accepted")
else:
    print("accepted")

accepted

20. Count the Number of matching characters in a pair of string

In [70]:
s1="abhggfutd"
s2="ffdredcvgacgfdta"
d=set()
ctr=0

In [71]:
for i in s1:
    if i in s2:
        d.add(i)
ctr=len(d)
print(d,ctr)

{'a', 'd', 'g', 't', 'f'} 5

21. Count number of vowels using sets in given string

In [72]:
A="This question has to be done using sets"
s=set()
c21=0
d={}
sum=0
for i in lst:
    c21=A.count(i)
    sum=sum+A.count(i)
    d[i]=c21
print(d,sum)

{'a': 1, 'e': 4, 'i': 3, 'o': 3, 'u': 2} 13

22. Remove all duplicates from a given string

In [73]:
Q1="hey u a data type"
Q22=" "
d22={}

In [74]:
for i in Q1:
    x=Q1.count(i)
    d22[i]=x
    if(x>1):
        Q22=Q1.rsplit(i,(x))
d22
Q22="".join(d22)
Q22

'hey uadtp'

In [75]:
Q1

'hey u a data type'

In [76]:
Q1.rstrip('e')

'hey u a data typ'

23. Is the string pan gram or not

In [77]:
str="The quick brown fox jumps over lazy dog"
str26=str.lower()
s=set()

In [78]:
for i in str26:
    if i.isalpha()==True and i!=" ":
        s.add(i)
if len(s)==26:
    print("List is PanGram")
else:
    print("Its not")
print(len(s))
print(sorted(s))

List is PanGram
26
['a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [88]:
pan = "The quick brown fox jumps over the lazy dog"

b1 = pan.lower()

c1 = set(b1)

c1

if b1.isalnum() == True and len(c1) == 26:

    print("The string is pangram")

print(c1,end=" ")

{'a', 'i', 'g', 'y', 'l', 'x', 'm', 'c', 'u', ' ', 'q', 'v', 'r', 'z', 'f', 'j', 'p', 'k', 'n', 'w', 'b', 'd', 'o', 't', 's', 'h', 'e'}

In [ ]:
index=2
x=index+1
str="hello"
str1=" "
for i in range(len(str)):
    if i!=index:
        str1=str1+str[i]

print(str1)

 helo

In [86]:
str2=str[:index]+str[index+1:]
print(str2)

helo