In [2]:
str1="hello"
print(str1)

hello

In [3]:
str2="H"+str1[1:]
print(str2)

Hello

In [4]:
s1="""Im a       
student"""      # 
print(s1)       # this will print the string as it is i.e in multiple lines

Im a
student

In [5]:
ss2="this is " \
"multiple lines"     # "\" works as an conectivity operator telling the system the line is not over and we can not even add an comment after '\'
print(ss2)           # this will print the string in a single line basically it wil directly concat the string

this is multiple lines

In [6]:
aa=({s1[3]:3,s1[-2]:-2})        #accessing an element in a string and which can be converted into an list,tuple,set and dictionary
print(aa,type(aa))

{'a': 3, 'n': -2} <class 'dict'>

In [7]:
print(s1[2:])       #Slicing a string
print(s1[::-1])     #Reverse a string

 a
student
tneduts
       a mI

In [8]:
del str1       #delets a string

In [9]:
print(len(ss2))

22

In [10]:
print(str2.upper())
print(str2.lower())

HELLO
hello

In [11]:
print(s1.strip())

Im a
student

In [12]:
print(s1.replace("Im","I'm"))

I'm a
student

In [13]:
s3=ss2+ "  "+s1
print(s3)

this is multiple lines  Im a
student

In [14]:
print(ss2 * 2)

this is multiple linesthis is multiple lines

In [15]:
s="         sss         "
print(s)

         sss

In [16]:
print(s.strip())

sss

In [17]:
name='Sam'
age=21
print(f"Name is: {name}, And age is :{age}")

Name is: Sam, And age is :21

In [18]:
print("Name is {} and Age is {}".format("Sachit",21))

Name is Sachit and Age is 21

In [19]:
'Im' in s1

True

In [20]:
'st' not in s1

False

In [21]:
sl=["h",'l']
nsl="".join(sl)
print(nsl)

hl

In [22]:
ls='my name is SaCHit paNDya and my age is 21'
lls=list(ls)
print(lls)
lls[0]='s'
ls="".join(lls)
print(ls)

['m', 'y', ' ', 'n', 'a', 'm', 'e', ' ', 'i', 's', ' ', 'S', 'a', 'C', 'H', 'i', 't', ' ', 'p', 'a', 'N', 'D', 'y', 'a', ' ', 'a', 'n', 'd', ' ', 'm', 'y', ' ', 'a', 'g', 'e', ' ', 'i', 's', ' ', '2', '1']
sy name is SaCHit paNDya and my age is 21

In [23]:
print(type(ls))

<class 'str'>

In [24]:
ls.capitalize()

'Sy name is sachit pandya and my age is 21'

In [25]:
ls.casefold()

'sy name is sachit pandya and my age is 21'

In [26]:
ls.center(15)

'sy name is SaCHit paNDya and my age is 21'

In [27]:
ls.count('a')

6

In [28]:
ls1=ls.encode()
print(ls1)

b'sy name is SaCHit paNDya and my age is 21'

In [29]:
ls.endswith('sachit')

False

In [30]:
l=['aba','daba','jaba','tibi','tubu','tuba']
for i in range(len(l)):
    if l[i].endswith('a'):
        if l[i].startswith('a'):
            print('Ye aagya     ->  ',l[i])
        else:
            print("false    ->  ",l[i])
    else:
        print("NOO")

Ye aagya     ->   aba
false    ->   daba
false    ->   jaba
NOO
NOO
false    ->   tuba

In [31]:
ls11="h\te\tll\to"
ls11.expandtabs(-333)

'hello'

In [32]:
print(ls)
ls.find(" i")

sy name is SaCHit paNDya and my age is 21

7

In [33]:
ls.isprintable()

True

In [34]:
ls111="\tgf "
print(ls111)
ls111.isprintable()

	gf

False

In [ ]:
data={'name':"Sachit",'age':"21"}
new_data="{name} is {age}".format_map(data)

new_data

'Sachit is 21'

In [36]:
l1="apple,bnana,cherry"

In [37]:
l1.strip()

'apple,bnana,cherry'

In [38]:
l1.rsplit(',',)

['apple', 'bnana', 'cherry']

In [39]:
l1.split(',')

['apple', 'bnana', 'cherry']

In [40]:
ls.index('a')

4

In [41]:
ls.index('e')

6

In [42]:
new_data.isalnum()

False

In [43]:
print(new_data)

Sachit is 21

In [44]:
a1="hellomy á"
a2= '\u00B2'
a3='psasarsasaisasansasat'
a1.isalpha()

False

In [45]:
a2.isascii()

False

In [46]:
a2.isdecimal()

False

In [47]:
a2.isdigit()

True

In [48]:
a2.isnumeric()

True

In [49]:
a3.isidentifier()

True

In [50]:
ls.islower()

False

In [51]:
a2.isspace()

False

In [52]:
ls.isprintable()

True

In [53]:
ls.istitle()

False

In [54]:
a4="HELLO"
a4.title()

'Hello'

In [55]:
a4.istitle()

False

In [56]:
a4.isupper()

True

In [78]:
print(ls)
print(ls.rjust(50))

sy name is SaCHit paNDya and my age is 21
         sy name is SaCHit paNDya and my age is 21

In [58]:
str11="aeiouu"
str22="123456"

In [59]:
ls1=ls
print(ls1)
print(str11,str22)
ls2=ls1.maketrans(str11,str22)
print(ls2)
ls1.translate(ls2)

sy name is SaCHit paNDya and my age is 21
aeiouu 123456
{97: 49, 101: 50, 105: 51, 111: 52, 117: 54}

'sy n1m2 3s S1CH3t p1NDy1 1nd my 1g2 3s 21'

In [ ]:
d={"a":"123","b":"457"}
ls3=ls1.maketrans(d)
print(ls3)
print(ls1.translate(ls3))

{97: '123', 98: '457'}
sy n123me is S123CHit p123NDy123 123nd my 123ge is 21

In [61]:
ls.replace("s","S")

'Sy name iS SaCHit paNDya and my age iS 21'

In [62]:
ls.partition('is')

('sy name ', 'is', ' SaCHit paNDya and my age is 21')

In [63]:
ls.removeprefix('y' )

'sy name is SaCHit paNDya and my age is 21'

In [64]:
ls.removesuffix('21')

'sy name is SaCHit paNDya and my age is '

In [65]:
ls.rindex('s')

37

In [66]:
ls.rfind('a')

32

In [67]:
ls.rpartition('i')

('sy name is SaCHit paNDya and my age ', 'i', 's 21')

In [68]:
ls12="Apple,Cherry,Banana"

In [69]:
ls12.split(',',1)

['Apple', 'Cherry,Banana']

In [70]:
s1.splitlines(2)

['Im a       \n', 'student']

In [71]:
s1.swapcase()

'iM A       \nSTUDENT'

In [72]:
s1.zfill(111)

'00000000000000000000000000000000000000000000000000000000000000000000000000000000000000000000Im a       \nstudent'

In [73]:
ls.zfill(60)

'0000000000000000000sy name is SaCHit paNDya and my age is 21'