In [66]:
tup=(1,2,3,4,2,1)

In [6]:
c=tup.count(2)

In [7]:
print(c)

2

In [8]:
c=tup.index(2)

In [9]:
print(c)

1

In [14]:
c=tup.index(2,1,5)
print(c)

1

In [15]:
tup2=(3,4,5,6)
tup3=tup2+tup
print(tup3)

(3, 4, 5, 6, 1, 2, 3, 4, 2, 1)

In [16]:
print(tup3[3])

6

In [20]:
tup4=[(tup)]+[(tup)]
print(tup4)

[(1, 2, 3, 4, 2, 1), (1, 2, 3, 4, 2, 1)]

In [21]:
tup5=tup*3
print(tup5)

(1, 2, 3, 4, 2, 1, 1, 2, 3, 4, 2, 1, 1, 2, 3, 4, 2, 1)

In [22]:
print(tup[2:])

(3, 4, 2, 1)

In [24]:
print(len(tup))

6

In [25]:
del tup5

In [27]:
a=[1,2,3,4]
tup5=tuple(a)

In [28]:
print(type(tup5),tup5)

<class 'tuple'> (1, 2, 3, 4)

In [29]:
tup5=tup

In [30]:
print(tup5)

(1, 2, 3, 4, 2, 1)

In [31]:
tup=tup+tup2
print([tup],[tup5])

[(1, 2, 3, 4, 2, 1, 3, 4, 5, 6)] [(1, 2, 3, 4, 2, 1)]

In [46]:
a=[1,2,3,4]
b=a.copy()
b+=[4,5]
print(b,a)
a[0]=2
print(b,a)
print(id(b),id(a))
print(id(b[0]),id(a[0]))

[1, 2, 3, 4, 4, 5] [1, 2, 3, 4]
[1, 2, 3, 4, 4, 5] [2, 2, 3, 4]
2362848912000 2362850149952
2362745710896 2362745710928

In [44]:
set1={1,2,3}
set2=set1.copy()
set1.add(40)

print(set1,set2)
print(id(set1),id(set2))
print(id(set1),id(set2))

{40, 1, 2, 3} {1, 2, 3}
2362849660256 2362849659808
2362849660256 2362849659808

In [51]:
n=2
for i in range(n):
    print(([tup[i]]),end="   ")

[1]   [2]

In [59]:
t3=tup+tup
print(t3)

(1, 2, 3, 4, 2, 1, 3, 4, 5, 6, 1, 2, 3, 4, 2, 1, 3, 4, 5, 6)

In [67]:
str1=str(tup)

In [68]:
print(type(tup),tup)

<class 'tuple'> (1, 2, 3, 4, 2, 1)

In [69]:
tstr=(1,2,3,5)

In [70]:
tstr1=str(tstr)
print(type(tstr),type(tstr1))

<class 'tuple'> <class 'str'>

In [128]:
from copy import deepcopy
#create a tuple
t = ("Tutor", 'J', 23 , 56.67 , [23,12] , True) 
print(t)
print(type(t))
#make a copy of a tuple using deepcopy() function
tc = deepcopy(t)
print(type(tc))
tc[4].append(50)
print(tc)
print(t)
print(id(t),id(tc))

('Tutor', 'J', 23, 56.67, [23, 12], True)
<class 'tuple'>
<class 'tuple'>
('Tutor', 'J', 23, 56.67, [23, 12, 50], True)
('Tutor', 'J', 23, 56.67, [23, 12], True)
2362851951136 2362851778720

Deepcopy

In [80]:
t1=(1,2,2333, "sam")
t2=deepcopy(t1)
print(id(t1),id(t2))

2362850525968 2362850525968

In [93]:
print(t[-4])

23

In [94]:
ctr=0
n=2
for i in tup:
    if i==n:
        ctr+=1
print(ctr)

2

In [97]:
n=2
for i in tup:
    if i==n:
        print("found")
        break
    else:
        print("not found")

not found
found

In [98]:
l=[1,2,3,5]
tup22=tuple(l)
print(tup22,type(tup22))

(1, 2, 3, 5) <class 'tuple'>

In [100]:
tup22.index(3)

2

In [103]:
print(len(tup))
print(tup)

6
(1, 2, 3, 4, 2, 1)

In [104]:
print(tup[::-1])

(1, 2, 4, 3, 2, 1)

In [106]:
print("This is a tuple:",tup)

This is a tuple: (1, 2, 3, 4, 2, 1)

In [ ]:
tup=([1,2,10],[2,3,20],[3,4,30])
for i in range(len(tup)):
    tup[i][-1]=='100'
print(tup)

([1, 2, 10], [2, 3, 20], [3, 4, 30])

In [114]:
tup=(("a",1),("b",2),("c",3))
dic=dict(tup)
print(type(dic),dic)

<class 'dict'> {'a': 1, 'b': 2, 'c': 3}

In [117]:
print(tup2)

(3, 4, 5, 6)

In [124]:
a,b,c,d=tup2
print(a+b+c+d)

18

In [125]:
a,b,c,d=10,20,30,40
tup11=a,b,c,d
print(tup11)

(10, 20, 30, 40)

In [126]:
tup11=tup11+(5,)
print(tup11)

(10, 20, 30, 40, 5)

In [132]:
print(tup3)

(3, 4, 5, 6, 1, 2, 3, 4, 2, 1)

In [136]:
Uni_Lst=set()
for i in tup3:
    if tup3.count(i) >=1:
        Uni_Lst.add(i)
print(Uni_Lst)

{1, 2, 3, 4, 5, 6}

In [7]:
tuple2=[(1,2),(3,4),(5,6)]
i1,i2=(zip(*tuple2))
print(i1,i2)

(1, 3, 5) (2, 4, 6)

In [189]:
lr=list(i2)
for i in lr:
    i=10
print(lr)
i2=lr

[10, 10, 10]

In [ ]:
tuple2=list(zip(i1,i2))
print(tuple2)

[(1, 10), (3, 10), (5, 10)]

In [ ]:
f_tup=[(), (), ('',), ('a', 'b'), ('a', 'b', 'c'), ('d')]
f_tup=[f for f in f_tup if f]


print(f_tup)

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [209]:
# for i in range(len(f_tup)):
#     if f_tup[i]==():
        # f_tup.remove(i)
print(f_tup)

[('',), ('a', 'b'), ('a', 'b', 'c'), 'd']

In [109]:
lst=[[1,2],[3,4]]
dicti=dict(lst)
print(dicti)

{1: 2, 3: 4}

In [57]:
lt=[('b',3),('d',1),('a',2),('c',0)]
print(lt)
zlts,zlti=list(zip(*lt))
print(zlts,zlti)

[('b', 3), ('d', 1), ('a', 2), ('c', 0)]
('b', 'd', 'a', 'c') (3, 1, 2, 0)

In [58]:
print(type(zlti))

<class 'tuple'>

In [59]:
lzlti=list(zlti)
lzlts=list(zlts)

In [60]:
lzlti.sort()
print(lzlti)
lzlts.sort()

[0, 1, 2, 3]

In [63]:
zlti=tuple(lzlti)
print(type(zlti))
zlts=tuple(lzlts)

<class 'tuple'>

In [65]:
lt=list(zip(zlts,zlti))
print(lt)

[('a', 0), ('b', 1), ('c', 2), ('d', 3)]

In [1]:
d1 = {'a': 100, 'b': 200, 'c':300}
d2 = {'a': 300, 'b': 200, 'd':400}
a=[]

In [2]:
for i in (d1.keys()):
    for j in d2.keys():
        if i==j:
            a.append(i)

In [3]:
print(a)

['a', 'b']

In [125]:
for i in a:
    ba= d1.get(i) + d2.get(i)
    d2[i]=ba

In [ ]:
d1.update(d2)

In [127]:
print(d1)

{'a': 400, 'b': 400, 'c': 300, 'd': 400}

In [ ]:

set3={(1,2),(3,4),(1,2),1,3}
print(set3)
print(type(set3))
set3.discard(1)
print(set3)
for i in set3:
    if i == 3:
        set3.remove(i)
        set3.add(5)
        break
print(set3)

<class 'dict'>
{1, (1, 2), 3, (3, 4)}
<class 'set'>
{(1, 2), 3, (3, 4)}
{(1, 2), 5, (3, 4)}

In [ ]:
ud= [{"V":"S001"}, {"V":"S002"}, {"VI": "S001"}, {"VI": "S005"}, {"VII":"S005"}, {"V":"S009"},{"VIII":"S007"}]
# print(ud)
udv=[]
for i in range(len(ud)):
    for j in ud[i].keys():
        udv.append(ud[i].get(j))
print(udv)

['S001', 'S002', 'S001', 'S005', 'S005', 'S009', 'S007']

In [34]:
sudv=set(udv)
print(sudv)

{'S009', 'S002', 'S001', 'S005', 'S007'}

In [63]:
dict1= {'1':['a','b'], '2':['c','d']}
d1=[]
for i in dict1:
    d1.append(dict1.get(i))

In [47]:
print(d1)

[['a', 'b'], ['c', 'd']]

In [54]:
for i in d1[0]:
    for j in d1[1]:
        print(i+j)

ac
ad
bc
bd

In [55]:
d11=dict.fromkeys(dict1,dict1)

In [56]:
d11

{'1': {'1': ['a', 'b'], '2': ['c', 'd']},
 '2': {'1': ['a', 'b'], '2': ['c', 'd']}}

In [64]:
dict1.setdefault(1,"hello")
dict1

{'1': ['a', 'b'], '2': ['c', 'd'], 1: 'hello'}

In [65]:
dict1.setdefault('1',"hello")
dict1

{'1': ['a', 'b'], '2': ['c', 'd'], 1: 'hello'}