In [1]:
import pandas as pd
df= pd.read_csv(r"C:\Users\BAPS\Desktop\Python\Datasets\airbnb_nyc_clean.csv")    #converts the csv file into dataframe

In [5]:
import pandas as pd
df2= pd.read_csv(r"C:\Users\BAPS\Desktop\Python\Datasets\airbnb_nyc_clean.csv",usecols=['name','id','neighbourhood_group'])   
#usecols() -> using this we can access particular columns for the whole csv
df2

,id,name,neighbourhood_group
0,1001254,Clean & quiet apt home by the park,Brooklyn
1,1002102,Skylit Midtown Castle,Manhattan
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,Manhattan
3,1002755,blank,Brooklyn
4,1003689,Entire Apt: Spacious Studio/Loft by central park,Manhattan
...,...,...,...
69300,57361342,Sunny budget friendly room in Bushwick,Brooklyn
69301,57361894,"Cozy Apartment on Bedford Ave, Brooklyn",Brooklyn
69302,57362446,Your 1 bedroom home away from home!,Manhattan
69303,57362999,MASTER Cozy Bedroom Queen size 2 blocks Timesq...,Manhattan
69304,57363551,Sunny Brownstone Studio in BedStuy Brooklyn,Brooklyn

In [6]:
df

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,instant_bookable,...,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules
0,1001254,Clean & quiet apt home by the park,80014485718,unconfirmed,Madaline,Brooklyn,Kensington,40.64749,-73.97237,False,...,966.00000,193.000000,10.0,9.0,2021-10-19,0.21,4.0,6.0,286.0,Clean up and treat the home the way you'd like...
1,1002102,Skylit Midtown Castle,52335172823,verified,Jenna,Manhattan,Midtown,40.75362,-73.98377,False,...,142.00000,28.000000,13.0,45.0,2022-05-21,0.38,4.0,2.0,228.0,Pet friendly but please confirm with me if the...
2,1002403,THE VILLAGE OF HARLEM....NEW YORK !,78829239556,unconfirmed,Elise,Manhattan,Harlem,40.80902,-73.94190,True,...,620.00000,124.000000,3.0,0.0,2019-06-14,0.79,5.0,1.0,352.0,"I encourage you to use my kitchen, cooking and..."
3,1002755,blank,85098326012,unconfirmed,Garry,Brooklyn,Clinton Hill,40.68514,-73.95976,True,...,368.00000,74.000000,13.0,270.0,2019-07-05,4.64,4.0,1.0,322.0,blank
4,1003689,Entire Apt: Spacious Studio/Loft by central park,92037596077,verified,Lyndon,Manhattan,East Harlem,40.79851,-73.94399,False,...,204.00000,41.000000,10.0,9.0,2018-11-19,0.10,3.0,1.0,289.0,"Please no smoking in the house, porch or on th..."
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
69300,57361342,Sunny budget friendly room in Bushwick,29964876857,verified,blank,Brooklyn,Bushwick,40.69370,-73.91006,True,...,624.73607,124.894026,5.0,3.0,2018-04-09,0.11,1.0,1.0,0.0,Please be mindful that I live in the same buil...
69301,57361894,"Cozy Apartment on Bedford Ave, Brooklyn",92852058426,unconfirmed,blank,Brooklyn,Williamsburg,40.71284,-73.96284,False,...,624.73607,124.894026,7.0,15.0,2018-01-01,0.55,4.0,1.0,0.0,blank
69302,57362446,Your 1 bedroom home away from home!,95572379802,verified,blank,Manhattan,Upper West Side,40.79563,-73.97634,True,...,624.73607,124.894026,3.0,38.0,2019-06-10,1.40,3.0,1.0,31.0,blank
69303,57362999,MASTER Cozy Bedroom Queen size 2 blocks Timesq...,80154173698,verified,blank,Manhattan,Hell's Kitchen,40.76125,-73.98945,True,...,624.73607,124.894026,1.0,81.0,2019-03-05,2.96,2.0,2.0,0.0,- I work at home and prefer to rent to folks w...
69304,57363551,Sunny Brownstone Studio in BedStuy Brooklyn,11145329848,unconfirmed,Jamal,Brooklyn,Bedford-Stuyvesant,40.68221,-73.94618,False,...,624.73607,124.894026,2.0,104.0,2019-06-12,3.69,5.0,1.0,268.0,blank

In [5]:
df['neighbourhood_group'].value_counts()

neighbourhood_group
Manhattan        29587
Brooklyn         27895
Queens            9262
Bronx             1912
Staten Island      649
Name: count, dtype: int64

In [6]:
len(df['neighbourhood'].unique())

239

In [7]:
df['host_name'].value_counts()

host_name
Michael            582
David              499
Alex               385
Sonder (NYC)       374
John               374
                  ...
Ashley Michelle      1
Adam + Caro          1
Ranjeet              1
Yurika               1
Ngoc                 1
Name: count, Length: 13191, dtype: int64

In [4]:
sample_rows=df.sample(n=5,weights='review_rate_number',replace=False,random_state=777)
sample_rows

,id,name,host_id,host_identity_verified,host_name,neighbourhood_group,neighbourhood,lat,long,instant_bookable,...,price,service_fee,minimum_nights,number_of_reviews,last_review,reviews_per_month,review_rate_number,calculated_host_listings_count,availability_365,house_rules
11704,7465455,Luxurious studio apt. across from Battery Park!,40044590112,verified,Kara,Manhattan,Financial District,40.70415,-74.00688,True,...,805.0,161.0,13.0,0.0,2019-06-14,0.79,5.0,121.0,72.0,This is a residential property. Quiet is impor...
23235,13834027,A Guest Room in a Bushwick Artist/Musician's Loft,98093423299,verified,Dave,Brooklyn,Williamsburg,40.70798,-73.93652,True,...,568.0,114.0,1.0,69.0,2019-06-22,3.04,5.0,1.0,81.0,blank
4772,3636912,Fabulous Family Getaway,22726490698,unconfirmed,Julia,Brooklyn,Crown Heights,40.66911,-73.94824,False,...,912.0,182.0,3.0,153.0,2019-06-24,2.64,5.0,1.0,246.0,"Just be cool, we love our home and love our ne..."
33798,19667971,NEW! HUGE DESIGN LOFT w/ Rooftop in Williamsburg,29986348001,verified,Fleur,Brooklyn,Williamsburg,40.71308,-73.94458,True,...,1192.0,238.0,9.0,5.0,2019-04-14,0.42,2.0,1.0,59.0,- Enjoy Your self and have a pleasant stay!
58442,33278853,Metropolitan Brooklyn Oasis in Heart of Bed Stuy,4639914510,unconfirmed,Derick,Brooklyn,Bedford-Stuyvesant,40.68013,-73.93400,True,...,561.0,112.0,3.0,65.0,2022-01-03,1.33,4.0,1.0,217.0,blank