# Pandas lib. Introduction

In [1]:
import pandas as pd

# What is a DataFrame?

A Pandas DataFrame is a 2 dimensional data structure, like a 2 dimensional array, or a table with rows and columns.

In [2]:

mydataset = {
  'cars': ["Fortuner", "Jaguar XJ", "harrier"],
  'passings': [3, 7, 2]
}

myvar = pd.DataFrame(mydataset)

print(myvar)
print(type(myvar))

        cars  passings
0   Fortuner         3
1  Jaguar XJ         7
2    harrier         2
<class 'pandas.core.frame.DataFrame'>

# What is a Series?

A Pandas Series is like a column in a table.
It is a one-dimensional array holding data of any type.

In [3]:
a = [1, 7, 2]

myvar = pd.Series(a)

print(myvar)

0    1
1    7
2    2
dtype: int64

# Loading in CSV data

The first step in any ML problem is identifying what format your data is in, and then loading it into whatever framework you're using. For Kaggle compeitions, a lot of data can be found in CSV files, so that's the example we're going to use.

Just think of it as a table for now.

In [5]:
df = pd.read_csv('productDataset.csv')

In [8]:
df1=df['Price']

In [9]:
df

,ProductID,ProductName,ProductBrand,Gender,Price,NumImages,Description,PrimaryColor
0,10017413,DKNY Unisex Black & Grey Printed Medium Trolle...,DKNY,Unisex,11745,7,"Black and grey printed medium trolley bag, sec...",Black
1,10016283,EthnoVogue Women Beige & Grey Made to Measure ...,EthnoVogue,Women,5810,7,Beige & Grey made to measure kurta with churid...,Beige
2,10009781,SPYKAR Women Pink Alexa Super Skinny Fit High-...,SPYKAR,Women,899,7,Pink coloured wash 5-pocket high-rise cropped ...,Pink
3,10015921,Raymond Men Blue Self-Design Single-Breasted B...,Raymond,Men,5599,5,Blue self-design bandhgala suitBlue self-desig...,Blue
4,10017833,Parx Men Brown & Off-White Slim Fit Printed Ca...,Parx,Men,759,5,"Brown and off-white printed casual shirt, has ...",White
...,...,...,...,...,...,...,...,...
12486,10262843,Pepe Jeans Men Black Hammock Slim Fit Low-Rise...,Pepe Jeans,Men,1299,7,"Black dark wash 5-pocket low-rise jeans, clean...",Black
12487,10261721,Mochi Women Gold-Toned Solid Heels,Mochi,Women,1990,5,"A pair of gold-toned open toe heels, has regul...",Gold
12488,10261607,612 league Girls Navy Blue & White Printed Reg...,612 league,Girls,602,4,Navy Blue and White printed mid-rise denim sho...,Blue
12489,10266621,Bvlgari Men Aqva Pour Homme Marine Eau de Toil...,Bvlgari,Men,8950,2,Bvlgari Men Aqva Pour Homme Marine Eau de Toil...,NaN
12490,10265199,Pepe Jeans Men Black & Grey Striped Polo Colla...,Pepe Jeans,Men,799,5,"Black and grey striped T-shirt, has a polo col...",Black

# The Basics

Now that we have our dataframe in our variable df, let's look at what it contains. We can use the function **head()** to see the first couple rows of the dataframe (or the function **tail()** to see the last few rows).

In [41]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12491 entries, 0 to 12490
Data columns (total 8 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   ProductID     12491 non-null  int64
 1   ProductName   12491 non-null  object
 2   ProductBrand  12491 non-null  object
 3   Gender        12491 non-null  object
 4   Price         12491 non-null  int64
 5   NumImages     12491 non-null  int64
 6   Description   12491 non-null  object
 7   PrimaryColor  11597 non-null  object
dtypes: int64(3), object(5)
memory usage: 780.8+ KB

In [42]:
df.head()

,ProductID,ProductName,ProductBrand,Gender,Price,NumImages,Description,PrimaryColor
0,10017413,DKNY Unisex Black & Grey Printed Medium Trolle...,DKNY,Unisex,11745,7,"Black and grey printed medium trolley bag, sec...",Black
1,10016283,EthnoVogue Women Beige & Grey Made to Measure ...,EthnoVogue,Women,5810,7,Beige & Grey made to measure kurta with churid...,Beige
2,10009781,SPYKAR Women Pink Alexa Super Skinny Fit High-...,SPYKAR,Women,899,7,Pink coloured wash 5-pocket high-rise cropped ...,Pink
3,10015921,Raymond Men Blue Self-Design Single-Breasted B...,Raymond,Men,5599,5,Blue self-design bandhgala suitBlue self-desig...,Blue
4,10017833,Parx Men Brown & Off-White Slim Fit Printed Ca...,Parx,Men,759,5,"Brown and off-white printed casual shirt, has ...",White

In [43]:
df.tail()

,ProductID,ProductName,ProductBrand,Gender,Price,NumImages,Description,PrimaryColor
12486,10262843,Pepe Jeans Men Black Hammock Slim Fit Low-Rise...,Pepe Jeans,Men,1299,7,"Black dark wash 5-pocket low-rise jeans, clean...",Black
12487,10261721,Mochi Women Gold-Toned Solid Heels,Mochi,Women,1990,5,"A pair of gold-toned open toe heels, has regul...",Gold
12488,10261607,612 league Girls Navy Blue & White Printed Reg...,612 league,Girls,602,4,Navy Blue and White printed mid-rise denim sho...,Blue
12489,10266621,Bvlgari Men Aqva Pour Homme Marine Eau de Toil...,Bvlgari,Men,8950,2,Bvlgari Men Aqva Pour Homme Marine Eau de Toil...,NaN
12490,10265199,Pepe Jeans Men Black & Grey Striped Polo Colla...,Pepe Jeans,Men,799,5,"Black and grey striped T-shirt, has a polo col...",Black

We can see the dimensions of the dataframe using the the **shape** attribute

In [44]:
df.shape

(12491, 8)

We can also extract all the column names as a list, by using the **columns** attribute and can extract the rows with the **index** attribute

In [45]:
df.columns.tolist()

['ProductID',
 'ProductName',
 'ProductBrand',
 'Gender',
 'Price',
 'NumImages',
 'Description',
 'PrimaryColor']

In order to get a better idea of the type of data that we are dealing with, we can call the **describe()** function to see statistics like mean, min, etc about each column of the dataset.

In [46]:
df.describe()

          ProductID         Price     NumImages
count  1.249100e+04  12491.000000  12491.000000
mean   9.917160e+06   1452.660956      4.913698
std    1.438006e+06   2118.503976      1.092333
min    1.012060e+05     90.000000      1.000000
25%    1.006215e+07    649.000000      5.000000
50%    1.015463e+07    920.000000      5.000000
75%    1.021565e+07   1499.000000      5.000000
max    1.027514e+07  63090.000000     10.000000

Okay, so now let's looking at information that we want to extract from the dataframe. Let's say I wanted to know the max value of a certain column. The function **max()** will show you the maximum values of all columns

In [47]:
df.max()

C:\Users\kody\AppData\Local\Temp\ipykernel_4360\1151452817.py:1: FutureWarning: The default value of numeric_only in DataFrame.max is deprecated. In a future version, it will default to False. In addition, specifying 'numeric_only=None' is deprecated. Select only valid columns or specify the value of numeric_only to silence this warning.
  df.max()

ProductID                                                10275139
ProductName                          yelloe Black Solid Sling Bag
ProductBrand                                               yelloe
Gender                                                      Women
Price                                                       63090
NumImages                                                      10
Description     Â White and beige printed lehenga choliWhite an...
dtype: object

Then, if you'd like to specifically get the max value for a particular column, you pass in the name of the column using the bracket indexing operator

In [48]:
df['Price'].max()

63090

If you'd like to find the mean of the Losing teams' score.

In [49]:
df['Price'].mean()

1452.6609558882396

But what if that's not enough? Let's say we want to actually see the game(row) where this max score happened. We can call the **argmax()** function to identify the row index

In [12]:
demo = df['Price'].argmax()
print(demo)

7416

One of the most useful functions that you can call on certain columns in a dataframe is the **value_counts()** function. It shows how many times each item appears in the column. This particular command shows the number of games in each season

In [51]:
df['Price'].value_counts()

699      510
1299     464
1999     312
599      295
899      254
        ...
2514       1
1918       1
10450      1
2245       1
8950       1
Name: Price, Length: 1543, dtype: int64

# Acessing Values

Then, in order to get attributes about the game, we need to use the **iloc[]** function. Iloc is definitely one of the more important functions. The main idea is that you want to use it whenever you have the integer index of a certain row that you want to access. As per Pandas documentation, iloc is an "integer-location based indexing for selection by position."

In [52]:
df.iloc[[df['Price'].argmax()]]

,ProductID,ProductName,ProductBrand,Gender,Price,NumImages,Description,PrimaryColor
7416,10184209,Garmin Unisex Blue Forerunner 945 Smartwatch 0...,Garmin,Unisex,63090,4,Features:Sync music from select premium stream...,Blue

The other really important function in Pandas is the **loc** function. Contrary to iloc, which is an integer based indexing, loc is a "Purely label-location based indexer for selection by label". Since all the games are ordered from 0 to 145288, iloc and loc are going to be pretty interchangable in this type of dataset

In [53]:
df.iloc[:3]

,ProductID,ProductName,ProductBrand,Gender,Price,NumImages,Description,PrimaryColor
0,10017413,DKNY Unisex Black & Grey Printed Medium Trolle...,DKNY,Unisex,11745,7,"Black and grey printed medium trolley bag, sec...",Black
1,10016283,EthnoVogue Women Beige & Grey Made to Measure ...,EthnoVogue,Women,5810,7,Beige & Grey made to measure kurta with churid...,Beige
2,10009781,SPYKAR Women Pink Alexa Super Skinny Fit High-...,SPYKAR,Women,899,7,Pink coloured wash 5-pocket high-rise cropped ...,Pink

In [14]:
df.loc[1:2]

,ProductID,ProductName,ProductBrand,Gender,Price,NumImages,Description,PrimaryColor
1,10016283,EthnoVogue Women Beige & Grey Made to Measure ...,EthnoVogue,Women,5810,7,Beige & Grey made to measure kurta with churid...,Beige
2,10009781,SPYKAR Women Pink Alexa Super Skinny Fit High-...,SPYKAR,Women,899,7,Pink coloured wash 5-pocket high-rise cropped ...,Pink

Notice the slight difference in that iloc is exclusive of the second number, while loc is inclusive.

# Sorting

Let's say that we want to sort the dataframe in increasing order for the scores of the losing team

In [17]:
df

,ProductID,ProductName,ProductBrand,Gender,Price,NumImages,Description,PrimaryColor
0,10017413,DKNY Unisex Black & Grey Printed Medium Trolle...,DKNY,Unisex,11745,7,"Black and grey printed medium trolley bag, sec...",Black
1,10016283,EthnoVogue Women Beige & Grey Made to Measure ...,EthnoVogue,Women,5810,7,Beige & Grey made to measure kurta with churid...,Beige
2,10009781,SPYKAR Women Pink Alexa Super Skinny Fit High-...,SPYKAR,Women,899,7,Pink coloured wash 5-pocket high-rise cropped ...,Pink
3,10015921,Raymond Men Blue Self-Design Single-Breasted B...,Raymond,Men,5599,5,Blue self-design bandhgala suitBlue self-desig...,Blue
4,10017833,Parx Men Brown & Off-White Slim Fit Printed Ca...,Parx,Men,759,5,"Brown and off-white printed casual shirt, has ...",White
...,...,...,...,...,...,...,...,...
12486,10262843,Pepe Jeans Men Black Hammock Slim Fit Low-Rise...,Pepe Jeans,Men,1299,7,"Black dark wash 5-pocket low-rise jeans, clean...",Black
12487,10261721,Mochi Women Gold-Toned Solid Heels,Mochi,Women,1990,5,"A pair of gold-toned open toe heels, has regul...",Gold
12488,10261607,612 league Girls Navy Blue & White Printed Reg...,612 league,Girls,602,4,Navy Blue and White printed mid-rise denim sho...,Blue
12489,10266621,Bvlgari Men Aqva Pour Homme Marine Eau de Toil...,Bvlgari,Men,8950,2,Bvlgari Men Aqva Pour Homme Marine Eau de Toil...,NaN
12490,10265199,Pepe Jeans Men Black & Grey Striped Polo Colla...,Pepe Jeans,Men,799,5,"Black and grey striped T-shirt, has a polo col...",Black

In [18]:
df.sort_values('Price').head()
# df.sort_values('Price',ascending=False).head()

,ProductID,ProductName,ProductBrand,Gender,Price,NumImages,Description,PrimaryColor
3450,10075843,Organic Harvest Unisex Sulphate Free Skin Ligh...,Organic Harvest,Unisex,90,2,What It Is?:Organic Harvest Sulphate Free Skin...,NaN
3304,10075841,Organic Harvest Unisex Anti-Acne Sheet Face Ma...,Organic Harvest,Unisex,91,3,What It Is?:Organic Harvest Unisex Anti-Acne S...,NaN
3736,10075851,Organic Harvest Unisex Moisturising Sheet Face...,Organic Harvest,Unisex,91,3,What It Is?:Organic Harvest Unisex Anti-Acne S...,NaN
3555,10075829,Organic Harvest Unisex Shine & Glow Sheet Mask...,Organic Harvest,Unisex,91,5,What It Is?:Organic Harvest Unisex Shine & Glo...,NaN
2982,10075865,Organic Harvest Unisex Anti-Wrinkle Sheet Face...,Organic Harvest,Unisex,91,3,What It Is?:Organic Harvest Unisex Anti-Wrinkl...,NaN

# Filtering Rows Conditionally

Now, let's say we want to find all of the rows that satisy a particular condition. For example, I want to find all of the games where the winning team scored more than 150 points. The idea behind this command is you want to access the column 'Wscore' of the dataframe df (df['Wscore']), find which entries are above 150 (df['Wscore'] > 150), and then returns only those specific rows in a dataframe format (df[df['Wscore'] > 150]).

In [19]:
df[df['Price'] > 150]

,ProductID,ProductName,ProductBrand,Gender,Price,NumImages,Description,PrimaryColor
0,10017413,DKNY Unisex Black & Grey Printed Medium Trolle...,DKNY,Unisex,11745,7,"Black and grey printed medium trolley bag, sec...",Black
1,10016283,EthnoVogue Women Beige & Grey Made to Measure ...,EthnoVogue,Women,5810,7,Beige & Grey made to measure kurta with churid...,Beige
2,10009781,SPYKAR Women Pink Alexa Super Skinny Fit High-...,SPYKAR,Women,899,7,Pink coloured wash 5-pocket high-rise cropped ...,Pink
3,10015921,Raymond Men Blue Self-Design Single-Breasted B...,Raymond,Men,5599,5,Blue self-design bandhgala suitBlue self-desig...,Blue
4,10017833,Parx Men Brown & Off-White Slim Fit Printed Ca...,Parx,Men,759,5,"Brown and off-white printed casual shirt, has ...",White
...,...,...,...,...,...,...,...,...
12486,10262843,Pepe Jeans Men Black Hammock Slim Fit Low-Rise...,Pepe Jeans,Men,1299,7,"Black dark wash 5-pocket low-rise jeans, clean...",Black
12487,10261721,Mochi Women Gold-Toned Solid Heels,Mochi,Women,1990,5,"A pair of gold-toned open toe heels, has regul...",Gold
12488,10261607,612 league Girls Navy Blue & White Printed Reg...,612 league,Girls,602,4,Navy Blue and White printed mid-rise denim sho...,Blue
12489,10266621,Bvlgari Men Aqva Pour Homme Marine Eau de Toil...,Bvlgari,Men,8950,2,Bvlgari Men Aqva Pour Homme Marine Eau de Toil...,NaN
12490,10265199,Pepe Jeans Men Black & Grey Striped Polo Colla...,Pepe Jeans,Men,799,5,"Black and grey striped T-shirt, has a polo col...",Black

This also works if you have multiple conditions. Let's say we want to find out when the winning team scores more than 150 points and when the losing team scores below 100.

# Dataframe Iteration

In order to iterate through dataframes, we can use the **iterrows()** function. Below is an example of what the first two rows look like. Each row in iterrows is a Series object

In [57]:
# for index, row in df.iterrows():
#     print row
#     if index == 1:
#         break

# Extracting Rows and Columns

The bracket indexing operator is one way to extract certain columns from a dataframe.

In [58]:
df[['Price', 'ProductName']].head()

   Price                                        ProductName
0  11745  DKNY Unisex Black & Grey Printed Medium Trolle...
1   5810  EthnoVogue Women Beige & Grey Made to Measure ...
2    899  SPYKAR Women Pink Alexa Super Skinny Fit High-...
3   5599  Raymond Men Blue Self-Design Single-Breasted B...
4    759  Parx Men Brown & Off-White Slim Fit Printed Ca...

Notice that you can acheive the same result by using the loc function. Loc is a veryyyy versatile function that can help you in a lot of accessing and extracting tasks.

In [59]:
df.loc[:, ['Price', 'ProductName']].head()

   Price                                        ProductName
0  11745  DKNY Unisex Black & Grey Printed Medium Trolle...
1   5810  EthnoVogue Women Beige & Grey Made to Measure ...
2    899  SPYKAR Women Pink Alexa Super Skinny Fit High-...
3   5599  Raymond Men Blue Self-Design Single-Breasted B...
4    759  Parx Men Brown & Off-White Slim Fit Printed Ca...

Note the difference is the return types when you use brackets and when you use double brackets.

In [60]:
type(df['Price'])

pandas.core.series.Series

In [61]:
type(df[['Price']])

pandas.core.frame.DataFrame

You've seen before that you can access columns through df['col name']. You can access rows by using slicing operations.

In [62]:
df[0:3]

,ProductID,ProductName,ProductBrand,Gender,Price,NumImages,Description,PrimaryColor
0,10017413,DKNY Unisex Black & Grey Printed Medium Trolle...,DKNY,Unisex,11745,7,"Black and grey printed medium trolley bag, sec...",Black
1,10016283,EthnoVogue Women Beige & Grey Made to Measure ...,EthnoVogue,Women,5810,7,Beige & Grey made to measure kurta with churid...,Beige
2,10009781,SPYKAR Women Pink Alexa Super Skinny Fit High-...,SPYKAR,Women,899,7,Pink coloured wash 5-pocket high-rise cropped ...,Pink

Here's an equivalent using iloc

In [63]:
df.iloc[0:3,:]

,ProductID,ProductName,ProductBrand,Gender,Price,NumImages,Description,PrimaryColor
0,10017413,DKNY Unisex Black & Grey Printed Medium Trolle...,DKNY,Unisex,11745,7,"Black and grey printed medium trolley bag, sec...",Black
1,10016283,EthnoVogue Women Beige & Grey Made to Measure ...,EthnoVogue,Women,5810,7,Beige & Grey made to measure kurta with churid...,Beige
2,10009781,SPYKAR Women Pink Alexa Super Skinny Fit High-...,SPYKAR,Women,899,7,Pink coloured wash 5-pocket high-rise cropped ...,Pink