RegEx -> It is a sequence of chars that form a search pattern. These are used to find a pattern in the data

In [1]:
import re

In [2]:
# import re
# s="vchfe hjcuhf hjkudvc45@gmail.com 4 4 5 222 4 parrot pet poot pu hjkudvc45@jdk.com t"
# s=s.split(' ')
# print(s)
# l=[]
# for i in s:
#     if re.findall('[a-z0-9]@.*.com',i):
#         l.append(i)
# print(l)

Methods of RegEx

1. findall()  -> Returns the list of all matching chars

In [3]:
str1=" Virat kohli 183 Rohit Sharma 264 Rassie + van dossuen Shubham gill 208"
re.findall('R.*',str1)

['Rohit Sharma 264 Rassie + van dossuen Shubham gill 208']

2.  Search() ->  Returns the match object for the string

In [4]:
x=re.search("R",str1)
print(x)

<re.Match object; span=(17, 18), match='R'>

3. Split()  -> Split method is used to split the string into a list based on the spliting char provided we can give how many parts we want

In [5]:
x=re.split("R",str1,2)      #arg 1 -> spliting char which will not be present in the result 
                            # arg 2 -> input_string  arg 3 -> number of parts we want
print(x)

[' Virat kohli 183 ', 'ohit Sharma 264 ', 'assie + van dossuen Shubham gill 208']

In [6]:
txt = "The rain in Spain"
x = re.search(" Portugal", txt)
print(x)        #if word is not present in the string it will return None

None

4. Sub() -> Substitutes the value to a char in the str

In [7]:
x=re.sub(" ","_",str1)
print(x)

_Virat_kohli_183_Rohit_Sharma_264_Rassie_+_van_dossuen_Shubham_gill_208

In [8]:
y=re.sub( 'R',"r",str1,1)
print(y)            #we can also give an arg to replace only a particular number of chars

# arg 1 -> char to be replaced
# arg 2 -> chat to be replaced with
# arg 3 -> input str
# arg4 (optional) -> number of times char should be replaced

 Virat kohli 183 rohit Sharma 264 Rassie + van dossuen Shubham gill 208

Match objects -> contains span=(form where to where substring exists),match="value that is matched"

It contains the info about the search and result

In [9]:
x=re.search("r",str1)
print(x.span())         #his shows form where to where in list substring is present

(3, 4)

In [10]:
x=re.search("r",str1)
print(x.string)     #return the string passed in the group

 Virat kohli 183 Rohit Sharma 264 Rassie + van dossuen Shubham gill 208

In [11]:
print(x.group())        #returns the part of the string where there was a match

r

Meta Characters -> char with special meaning

1.  [] -> is set of chars

In [12]:
x=re.findall("[0-9]",str1)
print(x)            #returns all chars in the present in []

['1', '8', '3', '2', '6', '4', '2', '0', '8']

2. \ -> signals a special char

Special Sequences

i. \d -> returns a match where string is [0-9]

In [13]:
x=re.search("\d",str1)
x

ii. \A -> returns match if specified char is start of string

In [14]:
x=re.search("\A Virat",str1)
print(x)

x=re.search("\A Rohit",str1)
print(x)

<re.Match object; span=(0, 6), match=' Virat'>
None

iii. \b -> returns true if specified char is at start or end of the word

In [15]:
str1

' Virat kohli 183 Rohit Sharma 264 Rassie + van dossuen Shubham gill 208'

In [16]:
x=re.search(r"\bVi",str1)  #it is cheking if the char is at starting
print(x)

<re.Match object; span=(1, 3), match='Vi'>

In [17]:
x=re.search(r"at\b",str1)           #it is checking at the end of word
print(x)

<re.Match object; span=(4, 6), match='at'>

iv. \B  -> returns match if char is not present in beginning or in the end

In [18]:
x=re.search(r"\Bi",str1)
print(x)

<re.Match object; span=(2, 3), match='i'>

v. \D -> returns match if string does not contain digits

In [56]:
x=re.findall("\D",str1)      #if i pass any char with in the " " search will work normally
print(x)        #prints whitespace in place of a digit

[' ', 'V', 'i', 'r', 'a', 't', ' ', 'k', 'o', 'h', 'l', 'i', ' ', ' ', 'R', 'o', 'h', 'i', 't', ' ', 'S', 'h', 'a', 'r', 'm', 'a', ' ', ' ', 'R', 'a', 's', 's', 'i', 'e', ' ', '+', ' ', 'v', 'a', 'n', ' ', 'd', 'o', 's', 's', 'u', 'e', 'n', ' ', 'S', 'h', 'u', 'b', 'h', 'a', 'm', ' ', 'g', 'i', 'l', 'l', ' ']

vi. \s -> returns match if string has white space

In [20]:
x=re.findall("\s",str1)
print(x)

[' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ', ' ']

vii. \S -> returns match if string has no white space

In [21]:
print(str1)
x=re.findall("\S",str1)
print(x)

 Virat kohli 183 Rohit Sharma 264 Rassie + van dossuen Shubham gill 208
['V', 'i', 'r', 'a', 't', 'k', 'o', 'h', 'l', 'i', '1', '8', '3', 'R', 'o', 'h', 'i', 't', 'S', 'h', 'a', 'r', 'm', 'a', '2', '6', '4', 'R', 'a', 's', 's', 'i', 'e', '+', 'v', 'a', 'n', 'd', 'o', 's', 's', 'u', 'e', 'n', 'S', 'h', 'u', 'b', 'h', 'a', 'm', 'g', 'i', 'l', 'l', '2', '0', '8']

viii. \w -> returns a match if string has char,digits,and underscore

In [22]:
str2="!@#$%^&*()"
x=re.findall("\w",str2)     #also removes whitepace or special chars
print(x)

[]

ix. \W -> return a matchh if string is not word

In [23]:
x=re.findall("\W",str2)         #also prints whitespace or special chars
print(x)

['!', '@', '#', '$', '%', '^', '&', '*', '(', ')']

x. \Z -> return a match if string are at end of the string

In [24]:
x=re.search("208\Z",str1)
print(x)

<re.Match object; span=(68, 71), match='208'>

3. . -> denotes a single char

In [25]:
x=re.findall("V.",str1)
print(x)

['Vi']

4. ^ -> starts with

In [26]:
x=re.findall("^ Virat",str1)
print(x)    #returns if string starts with specified char

x=re.findall("^ Rohit",str1)
print(x)

[' Virat']
[]

5. $ -> Ends with

In [27]:
x=re.findall("208$",str1)
print(x)            #returns a value if it starts with a value

x=re.findall("2$",str1)
print(x)

['208']
[]

6. (*) -> zero or more occurances

In [28]:
x=re.findall("V.*t",str1)
print(x)        #returns a value

x=re.findall("a*",str1)
print(x)        #returns a list of empy chars if char is not same

['Virat kohli 183 Rohit']
['', '', '', '', 'a', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'a', '', '', 'a', '', '', '', '', '', '', 'a', '', '', '', '', '', '', '', '', 'a', '', '', '', '', '', '', '', '', '', '', '', '', '', '', '', 'a', '', '', '', '', '', '', '', '', '', '', '']

7. (+) -> one or more occurances

In [29]:
x=re.findall("V.+t",str1)
print(x)

['Virat kohli 183 Rohit']

8. ? -> zero or one occurance

In [30]:
x=re.findall("Vir.?t",str1)     #returns match if there are only atmost 1 char in the passed string
print(x)

['Virat']

9. { } -> specifies the number of occurances

In [31]:
x=re.findall("V.{3}t",str1)         # species the char in strng
print(x)

['Virat']

10. | either or

In [32]:
x=re.findall("Virat|MS",str1)
print(x)        #returns match if min of one or is present

x=re.findall("Virat|Rohit",str1)
print(x)

['Virat']
['Virat', 'Rohit']

11. () -> Capture group ,it creates the search pattern into different groups

What it does is,it divides the search pattern into different parts and we can use a specific pattern from the whole pattern using capture group and to use a specific group it has indices [0] is whole pattern 
[1] is first part of the pattern [2] is second part and so on

In [55]:
import re

text = "Date: 2025-06-16"
pattern = r"(\d+)-(\d+)-(\d+)"
match = re.search(pattern, text)

if match:
    print("Full match:", match.group(0))  
    print("Year:", match.group(1))       
    print("Month:", match.group(2))      
    print("Day:", match.group(3))

Full match: 2025-06-16
Year: 2025
Month: 06
Day: 16

Sets -> set of chars inside []

i. [n]

In [33]:
x=re.findall("[V]",str1)            #returns only the char/digits present inside the []
print(x)

['V']

ii. [^n]

In [34]:
x=re.findall("[^V]",str1)            #returns the word not present inside the []
print(x)

[' ', 'i', 'r', 'a', 't', ' ', 'k', 'o', 'h', 'l', 'i', ' ', '1', '8', '3', ' ', 'R', 'o', 'h', 'i', 't', ' ', 'S', 'h', 'a', 'r', 'm', 'a', ' ', '2', '6', '4', ' ', 'R', 'a', 's', 's', 'i', 'e', ' ', '+', ' ', 'v', 'a', 'n', ' ', 'd', 'o', 's', 's', 'u', 'e', 'n', ' ', 'S', 'h', 'u', 'b', 'h', 'a', 'm', ' ', 'g', 'i', 'l', 'l', ' ', '2', '0', '8']

iii. [a-n] -> returns a match for a lower case letter

In [35]:
x=re.findall("[a-n]",str1)            #returns only the word present inside the []
print(x)

['i', 'a', 'k', 'h', 'l', 'i', 'h', 'i', 'h', 'a', 'm', 'a', 'a', 'i', 'e', 'a', 'n', 'd', 'e', 'n', 'h', 'b', 'h', 'a', 'm', 'g', 'i', 'l', 'l']

iv. [0-9] -> returns a match for digits

In [36]:
x=re.findall("[0-9]",str1)            #returns only the word present inside the []
print(x)

['1', '8', '3', '2', '6', '4', '2', '0', '8']

v. [0-1][0-9]  -> returns a number between 00 and 59 in this example

In [58]:
print(str1)
x=re.findall("[0-2][0-9][0-9]",str1)            #returns only the word present inside the []
print(x)

 Virat kohli 183 Rohit Sharma 264 Rassie + van dossuen Shubham gill 208
['183', '264', '208']

vi. [a-zA-Z] -> returns a match if there are any chars

In [38]:
x=re.findall("[a-zA-z]",str1)            #returns only the word present inside the []
print(x)

['V', 'i', 'r', 'a', 't', 'k', 'o', 'h', 'l', 'i', 'R', 'o', 'h', 'i', 't', 'S', 'h', 'a', 'r', 'm', 'a', 'R', 'a', 's', 's', 'i', 'e', 'v', 'a', 'n', 'd', 'o', 's', 's', 'u', 'e', 'n', 'S', 'h', 'u', 'b', 'h', 'a', 'm', 'g', 'i', 'l', 'l']

vii. [+] -> in sets [  +, *, ., |, (), $,{}  ] has no special meaning so [ + ] means return a match for (+) char

In [39]:
x=re.findall("[+]",str1)
print(x)

['+']

Flags

1. re.ASCII / re.A  -> returns match for only ascii

In [40]:
name="HÅaland"
x=re.findall("\w",name,re.ASCII)
print(x) 

name="HÅaland"
x=re.findall("\w",name,re.A)
print(x)

['H', 'a', 'l', 'a', 'n', 'd']
['H', 'a', 'l', 'a', 'n', 'd']

2. re.DEBUG -> returns debug information

In [41]:
name="HÅaland"
x=re.findall("\w",name,re.DEBUG)
print(x)

IN
  CATEGORY CATEGORY_WORD

 0. INFO 7 0b100 1 1 (to 8)
      in
 5.     CATEGORY UNI_WORD
 7.     FAILURE
 8: IN 4 (to 13)
10.   CATEGORY UNI_WORD
12.   FAILURE
13: SUCCESS
['H', 'Å', 'a', 'l', 'a', 'n', 'd']

3. re.DOTALL / re.S ->

In [42]:
txt = """Hi
my
name
is
Sam"""

x=re.findall("is.Sam",txt,re.DOTALL)
print(x)            #returns a match evenif the next char is in new line

['is\nSam']

with out re.DOTALL

In [43]:
print(re.findall("me.is", txt))

[]

In [44]:
print(re.findall("me.is", txt, re.S))

['me\nis']

4. re.IGNORECASE / re.I -> ignore the case  when seacrching

In [45]:
print(re.findall("sam", txt, re.IGNORECASE))

['Sam']

In [46]:
print(re.findall("is", txt, re.I))

['is']

5. re.MULTILINE / re.M -> searches for match at the starting of each line

In [47]:
print(re.findall("^is", txt, re.MULTILINE))
print(re.findall("^is", txt, re.M))

['is']
['is']

6. re.NOFLAG -> no flag is set on patter

In [48]:
print(re.findall("is", txt, re.NOFLAG))

['is']

7. re.UNICODE /re.U -> returns unicode matches

In [49]:
print(re.findall("\w", name, re.UNICODE))
print(re.findall("\w", name, re.U))

['H', 'Å', 'a', 'l', 'a', 'n', 'd']
['H', 'Å', 'a', 'l', 'a', 'n', 'd']

8. re.VERBOSE / re.X  -> matches for a specific pattern in whole string

In [50]:
text = "The rain in Spain falls mainly on the plain"

#Find and return words that contains the phrase "ain":

pattern = """
[A-Za-z]* #starts with any letter
ain+      #contains 'ain'
[a-z]*    #followed by any small letter"""

print(re.findall(pattern, text, re.VERBOSE))

['rain', 'Spain', 'mainly', 'plain']